<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Kodbook</title>
	</head>
	<body>
		<h2>Welcome to Kodbook!</h2>
		<hr>
		<form action="/login" method="post">
			<label>Username:</label>
			<input type="text" name="username"><br><br>
			<label>Password:</label>
			<input type="password" name="password"><br><br>
			
			<input type="submit" value="LOGIN"><br><br>
			<hr>
			<a href="/openResetPassword">Forgot Password?</a>
			<a href="/openSignUp">create new account</a>
			
			
		
		</form>
	</body>
</html>